<nav class="sidebar lg:z-[9] z-[10] group-data-[sidebar=brand]/item:border-sky-600 dark:border-darkborder">
    <div
        class="h-full bg-white dark:bg-darklight group-data-[sidebar=dark]/item:bg-darklight group-data-[sidebar=brand]/item:bg-sky-600">
        <div class="p-4">
            <a href="index.html" class="w-full main-logo">
                <img src="assets/images/logo-dark.svg"
                    class="mx-auto dark-logo h-7 logo dark:hidden group-data-[sidebar=dark]/item:hidden group-data-[sidebar=brand]/item:hidden"
                    alt="logo">
                <img src="assets/images/logo-light.svg"
                    class="hidden mx-auto light-logo h-7 logo dark:block group-data-[sidebar=dark]/item:block group-data-[sidebar=brand]/item:block"
                    alt="logo">
                <img src="assets/images/logo-icon.svg" class="hidden mx-auto logo-icon h-7" alt="">
            </a>
        </div>
        <div
            class="h-[calc(100vh-60px)]  overflow-y-auto overflow-x-hidden px-5 pb-4 space-y-16 detached-menu">
            <ul class="relative flex flex-col gap-1 " x-data="sidebarMenu">
                <h2
                    class="my-2 text-sm text-slate-500 group-data-[sidebar=dark]/item:text-slate-500 group-data-[sidebar=brand]/item:text-sky-200">
                    <span>Menu</span></h2>
                <li class="menu nav-item main-menu">
                    <a href="/"
                        class="items-center justify-between text-black nav-link group "
                        :class="{'active' : isActive('dashboard')}" @click="toggle('dashboard' , false)">
                        <div class="flex items-center">
                            <i data-feather="life-buoy" class="size-4"></i>
                            <span class="ltr:pl-1.5 rtl:pr-1.5">Tableau de bord</span>
                        </div>
                        <div class="flex items-center justify-center w-4 h-4 dropdown-icon"
                            :class="{'!rotate-180' : isActive('dashboard')}">
                            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" class="w-6 h-6">
                                <path
                                    d="M11.9997 13.1714L16.9495 8.22168L18.3637 9.63589L11.9997 15.9999L5.63574 9.63589L7.04996 8.22168L11.9997 13.1714Z"
                                    fill="currentColor"></path>
                            </svg>
                        </div>
                    </a>
                    
                </li>
                <li class="menu nav-item main-menu">
                    <a href="/utilisateurs"
                        class="items-center justify-between text-black nav-link group"
                        :class="{'active' : isActive('apps')}" @click="toggle('apps' , false)">
                        <div class="flex items-center">
                            <i data-feather="grid" class="size-4"></i>
                            <span class="ltr:pl-1.5 rtl:pr-1.5">Utilisateur</span>
                        </div>
                        <div class="flex items-center justify-center w-4 h-4 dropdown-icon"
                            :class="{'!rotate-180' : isActive('apps')}">
                            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" class="w-6 h-6">
                                <path
                                    d="M11.9997 13.1714L16.9495 8.22168L18.3637 9.63589L11.9997 15.9999L5.63574 9.63589L7.04996 8.22168L11.9997 13.1714Z"
                                    fill="currentColor"></path>
                            </svg>
                        </div>
                    </a>
                   
                </li>
               
               
               
                <li class="menu nav-item main-menu">
                    <a href="/expediteurs"
                        class="items-center justify-between text-black nav-link group"
                        :class="{'active' : isActive('apps')}" @click="toggle('apps' , false)">
                        <div class="flex items-center">
                            <i data-feather="grid" class="size-4"></i>
                            <span class="ltr:pl-1.5 rtl:pr-1.5">Expediteurs</span>
                        </div>
                        <div class="flex items-center justify-center w-4 h-4 dropdown-icon"
                            :class="{'!rotate-180' : isActive('apps')}">
                            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" class="w-6 h-6">
                                <path
                                    d="M11.9997 13.1714L16.9495 8.22168L18.3637 9.63589L11.9997 15.9999L5.63574 9.63589L7.04996 8.22168L11.9997 13.1714Z"
                                    fill="currentColor"></path>
                            </svg>
                        </div>
                    </a>
                   
                </li>
               
                <li class="menu nav-item main-menu">
                    <a href="/courriers"
                        class="items-center justify-between text-black nav-link group"
                        :class="{'active' : isActive('apps')}" @click="toggle('apps' , false)">
                        <div class="flex items-center">
                            <i data-feather="grid" class="size-4"></i>
                            <span class="ltr:pl-1.5 rtl:pr-1.5">courrier</span>
                        </div>
                        <div class="flex items-center justify-center w-4 h-4 dropdown-icon"
                            :class="{'!rotate-180' : isActive('apps')}">
                            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" class="w-6 h-6">
                                <path
                                    d="M11.9997 13.1714L16.9495 8.22168L18.3637 9.63589L11.9997 15.9999L5.63574 9.63589L7.04996 8.22168L11.9997 13.1714Z"
                                    fill="currentColor"></path>
                            </svg>
                        </div>
                    </a>
                   
                </li>
                
                <li class="menu nav-item main-menu">
                    <a href="/destinateurs"
                        class="items-center justify-between text-black nav-link group"
                        :class="{'active' : isActive('apps')}" @click="toggle('apps' , false)">
                        <div class="flex items-center">
                            <i data-feather="grid" class="size-4"></i>
                            <span class="ltr:pl-1.5 rtl:pr-1.5">Destinateur</span>
                        </div>
                        <div class="flex items-center justify-center w-4 h-4 dropdown-icon"
                            :class="{'!rotate-180' : isActive('apps')}">
                            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" class="w-6 h-6">
                                <path
                                    d="M11.9997 13.1714L16.9495 8.22168L18.3637 9.63589L11.9997 15.9999L5.63574 9.63589L7.04996 8.22168L11.9997 13.1714Z"
                                    fill="currentColor"></path>
                            </svg>
                        </div>
                    </a>
                   
                </li>
              
                <li class="menu nav-item main-menu">
                    <a href="/services"
                        class="items-center justify-between text-black nav-link group"
                        :class="{'active' : isActive('apps')}" @click="toggle('apps' , false)">
                        <div class="flex items-center">
                            <i data-feather="grid" class="size-4"></i>
                            <span class="ltr:pl-1.5 rtl:pr-1.5">Services</span>
                        </div>
                        <div class="flex items-center justify-center w-4 h-4 dropdown-icon"
                            :class="{'!rotate-180' : isActive('apps')}">
                            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" class="w-6 h-6">
                                <path
                                    d="M11.9997 13.1714L16.9495 8.22168L18.3637 9.63589L11.9997 15.9999L5.63574 9.63589L7.04996 8.22168L11.9997 13.1714Z"
                                    fill="currentColor"></path>
                            </svg>
                        </div>
                    </a>
                   
                </li>
            
                <li class="menu nav-item main-menu">
                    <a href="/statuts"
                        class="items-center justify-between text-black nav-link group"
                        :class="{'active' : isActive('apps')}" @click="toggle('apps' , false)">
                        <div class="flex items-center">
                            <i data-feather="grid" class="size-4"></i>
                            <span class="ltr:pl-1.5 rtl:pr-1.5">Statut</span>
                        </div>
                        <div class="flex items-center justify-center w-4 h-4 dropdown-icon"
                            :class="{'!rotate-180' : isActive('apps')}">
                            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" class="w-6 h-6">
                                <path
                                    d="M11.9997 13.1714L16.9495 8.22168L18.3637 9.63589L11.9997 15.9999L5.63574 9.63589L7.04996 8.22168L11.9997 13.1714Z"
                                    fill="currentColor"></path>
                            </svg>
                        </div>
                    </a>
                   
                </li>

            </ul>

            
        </div>
    </div>
</nav>